<p>loginpage works!</p>
<div class="login-container">
    <div class="login-content">
      <mat-toolbar class="login-toolbar" color="primary">My App</mat-toolbar>
      <mat-card>
        <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
            <mat-icon matPrefix>person_outline</mat-icon>
            <input autofocus type="text" matInput placeholder="Username" formControlName="username">
             <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password">
          <button type="submit" mat-raised-button color="primary">Login</button>
        </form>
      </mat-card>
    </div>
  </div>
<button class="btn btn-danger" (click)="dashboardopen()">Dashboard</button>