<!--This was used to prevent the entery of the spacebar = (keydown.space)="$event.preventDefault()-->
<div class="row" style="width:100vw;height:100vh;background-color:rgb(195, 211, 224)" (keydown.space)="$event.preventDefault()"  >
<div class="col">
<h1>Hello!!!</h1>
<input [(ngModel)]="name" >
<!--string interpolation-->
<p>{{name}}</p>
<p>{{value}}</p>
<!--property binding-->
<p [innerText]="name"></p>
<!--Event binding-->
<button [disabled]="!value" class="btn btn-success" (click)="alerter()">Select</button>
</div>
<router-outlet></router-outlet>  
</div>

