<p>homepage works!</p>
<!-- <div class="col">
    <h1>Hello!!! twoway - databinidng</h1>
    <input [(ngModel)]="name" >{{name}} -->
    <!--string interpolation-->
  <!-- <hr> -->
    <!-- <p>{{value}}</p> -->
    <!--Event binding-->
    <!-- <button [disabled]="!value" class="btn btn-success" (click)="alerter()">Select</button><hr>
    <h3>Databinding without the ngmodel</h3>
    <input (input)="addvalue($event)" (keypress)="enjoy()" >
       <p>Output :{{namesvalue}} </p> 
    </div> -->
    <!--Child task-->
    <!-- <div style="text-align:center">
        <h1>{{name}}</h1>
      </div>
      <div class="container">
          <div class="row">
              <ul class="list-group">
                <li class="list-group-item">
                  <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                    (change)="checkUncheckAll()"/> <strong>Select/ Unselect All</strong>
                </li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of checklist">
                  <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}"
                    (change)="isAllSelected()" />
                  {{item.value}}
                </li>
              </ul>
            </div>
        </div> -->
        <h2>Assignment 2 : Databinding</h2>
<div class="container">
  <input [(ngModel)]="username"  (input)="pressevent($event)" style="width:20rem;height:2rem">
  <p>Output : {{username}}</p>
  <p><button [disabled]="lengthcount" (click)="save()">SAVE</button></p>
</div>
<div>
  <input [(ngModel)]="clientname" >
<p *ngIf="clientname.length>0">Started typing</p>
  <!-- <button (click)="show()">show</button> -->
</div>
<button (click)="routetohome()">Home page</button>
<p *ngIf="ISSUE">Hello world thi sis the sdivnodskl</p>
<button (click)="showcontent()">SHow</button>