<p>homepage works!</p>
<div class="col">
    <h1>Hello!!!</h1>
    <input [(ngModel)]="name" >
    <!--string interpolation-->
    <p>{{name}}</p>
    <p>{{value}}</p>
    <!--Event binding-->
    <button [disabled]="!value" class="btn btn-success" (click)="alerter()">Select</button>
    <input (input)="addvalue($event)" (keypress)="enjoy()">
        {{namesvalue}}
    </div>
    <!--Child task-->
    <div style="text-align:center">
        <h1>{{name}}</h1>
      </div>
      <div class="container">
          <div class="row">
              <ul class="list-group">
                <li class="list-group-item">
                  <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
                    (change)="checkUncheckAll()"/> <strong>Select/ Unselect All</strong>
                </li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of checklist">
                  <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}"
                    (change)="isAllSelected()" />
                  {{item.value}}
                </li>
              </ul>
            </div>
        </div>
        